.I18nMainView {

  .ant-modal-body{
    .ant-transfer{
      margin: 0 auto;
      width: 413px;
    }
  }

}

.ColumnSelectDialogTransfer{
    margin: 0 auto;
    width: 413px;
}




.ModifyOrAddI18nItemDialog{
  .ant-form-item {
    margin-bottom: 14px;
  }
  .theForm {
    .text {
      height: 28px;
      line-height: 28px;
    }
    .redStar {
      padding-left: 10px;
      color: red;
    }
  }
}